.container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 280px;
    height: fit-content;
}

.image {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.news h2 {
    font-size: var(--text-xsmall);
    color: var(--text-blue);
    line-height: 15.6px;
}

.news h3 {
    font-size: var(--text-medium);
    color: var(--text-gray);
    line-height: 26px;
}